body{

	background-image: url(../img/diagPattern.jpg);
}
.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

h1 {
  color:white;
  font-size: 5vw;
  border: solid 5px white;
  border-radius: 10px;
  background-color: black;
	text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}
.sentenceGenerator {


}

#clickCounter{
	text-align: center;
	font-size: 3vw;
	color: white; 
  border: solid 5px white;
  border-radius: 10px;
  background-color: black;
  margin-left: 35%;
  margin-right: 35%;
}

button{
	display: block;
  width: 25vw; 
  height: auto;
  margin: 0 auto; 
  font-size: 4vh;
  color: white;
  background: rgba(5, 5, 5, 0.75);
  border-radius: 10px;
 	border: solid 5px white;

 }
 button:hover{
 	cursor: pointer;
 }

