html{
	background-color: gray;
}
.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
h1{
	text-align: center;
}
.sentenceGenerator{
}

#clickCounter{
	text-align: center;
	font-size: 40px;
	color: white; 

}